<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Comment</title>
</head>
<body>
    <%-include('partials/header.ejs')%>

    <div class="container">
        <div class="main">
            <div class="main-content">
                <h2>Блоги по программированию</h2>
                <%
                    blogs.forEach(comment => {
                %>
                    <div class="main-card">
                        <div class="main-info">
                            <div class="main-img">
                                <img src="<%=comment.image%>" alt="">
                            </div>
                            <div class="button-more">
                                <h3><%=comment.title%></h3>
                            </div>
                            <p><%=comment.description%></p>    
                        </div>
                        <div class="main-icons">
                            <div class="main-icons-text">
                                <img src="/images/icons/calendar.jpg" alt="">
                                26.06.2020
                            </div>
                            <div class="main-icons-text">
                                <img src="/images/icons/eye.jpg" alt="">
                                21
                            </div>
                            <div class="main-icons-text">
                                <img src="/images/icons/shape.jpg" alt="">
                                4
                            </div>
                            <div class="main-icons-text">
                                <i class="fa-sharp fa-solid fa-message" style="color: #757575;"></i>
                                <%=comment.category.name%>
                            </div>
                            <div class="main-icons-text">
                                <img src="/images/icons/vector.jpg" alt="">
                                <a href=""><%=comment.author.full_name%></a>
                            </div>
                        </div>
                    </div>
                <%        
                    })
                %>
            </div>
            <div class="comment">
                <% 
                    if(user && user._Id){
                %>
                <h3>Комментарии</h3>
                <form action="">
                    <textarea name="text"></textarea>
                    <button type="submit">Отправить</button>
                </form>
                <%
                    }else{
                %>
                    <p>
                        <a href="/login">Войдите</a> или
                        <a href="/register">зарегистрируйтесь</a>, что бы оставить комментарий
                    </p>
                <%
                    }
                %>
            </div>
        </div>
        
        <div class="categories">
            <h3>Категории</h3>
            <%
                genres.forEach((genre) => {
            %>
                <a href=""><%=genre.name%></a>
            <%        
                })
            %>
        </div>
    </div>
<script src="/profile.js"></script>
</body>
</html>