<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>addblog</title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    
    <div class="addblog">
        <div class="addblog-content">   
            <form action="/api/edit" method="POST" class="form" enctype="multipart/form-data">
                <h3>Редактировать блог</h3>
                <fieldset>
                    <input type="hidden" value="<%=blog._id%>" name="id">
                </fieldset>
                <fieldset class="fieldset">
                    <input type="title" value="<%=blog.title%>" placeholder="Введите заголовок блога" name="title">
                </fieldset>
                <fieldset class="fieldset">
                    <div class="select-wrapper">
                        <select name="category" id="categorySelect">
                            <% 
                                genres.forEach(genre => {
                                    if(genre.id == blog.genre){
                            %>
                                        <option value="<%=genre._id%>" selected><%=genre.name%></option>
                            <%
                                    }else{
                            %>
                                        <option value="<%=genre._id%>"><%=genre.name%></option>
                            <%
                                    }
                                }) 
                            %>  
                        </select>
                    </div>
                </fieldset>
                <fieldset class="fieldsete">
                    <label for="imageInput">Выберите картинку</label>
                    <input type="file" id="imageInput" name="image" style="display: none;">
                </fieldset>
                <fieldset class="fieldset">
                    <input type="description" value="<%=blog.description%>" placeholder="Введите описание блога" name="description">
                </fieldset>
                <fieldset class="fieldset">
                <button type="submit">Сохранить</button>
                </fieldset>
            </form>
        </div>
    </div>
<script src="/select.js"></script>
</body>
</html>