<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Decode blog</title>
</head>
<body>
    <%-include('partials/header.ejs')%>

    <div class="container">
        <div class="main">
            <div class="main-content">
                <div class="newBlog">
                    <h2>Мои блоги</h2>
                    <a href="/addblog">Новый блог</a>
                </div>
                <%
                    blogs.forEach(item => {
                %>
                    <div class="main-card">
                        <div class="main-info">
                            <div class="main-img">
                                <img src="<%=item.image%>" alt="">
                            </div>
                            <div class="button-more">
                                <h3><%=item.title%></h3>
                                <i class="fa-solid fa-ellipsis-vertical">Еще</i>
                                <div class="options">
                                    <a href="/edit/<%=item._id%>">Редактировать</a>
                                    <a href="" onclick="deleteBlogs('<%=item._id%>' , '<%=item.author._id%>')" class="delete">Удалить</a>
                                </div>
                            </div>
                            <p><%=item.description%></p>    
                        </div>
                        <div class="main-icons">
                            <div class="main-icons-text">
                                <img src="/images/icons/calendar.jpg" alt="">
                                26.06.2020
                            </div>
                            <div class="main-icons-text">
                                <img src="/images/icons/eye.jpg" alt="">
                                21
                            </div>
                            <div class="main-icons-text">
                                <a href="/comment/<%=item._id%>"><img src="/images/icons/shape.jpg" alt="">
                                    4</a>
                            </div>
                            <div class="main-icons-text">
                                <i class="fa-sharp fa-solid fa-message" style="color: #757575;"></i>
                                <%=item.category.name%>
                            </div>
                            <div class="main-icons-text">
                                <img src="/images/icons/vector.jpg" alt="">
                                <a href=""><%=item.author.full_name%></a>
                            </div>
                        </div>
                    </div>
                <%        
                    })
                %>
            </div>
        </div>
        
        <div class="categories">
            <div class="categories-text">
                <img src="/images/profile.jpg" alt="">
                <p><%=user.full_name%></p>
                <p>В основном пишу про веб - разработку, на React & Redux</p>
                <p>285 постов за все время</p>  
                <%
                    if(loginUser.id == user.id){
                %>
                <a href="">Редактировать</a>
                <a href="/api/signout">Выход</a>
                <%        
                    }
                %>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/profile.js"></script>
    <script src="/js/deleteBlog.js"></script>
</body>
</html>